{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col l5 s12">
            <p>Choisissez une date parmi celles disponibles :</p>
            <input type="text" class="datepicker">
        </div>
        <div class="col l5 s12">
            <p>Le type de billet :</p>
        </div>
        <div class="col l2 s12">
            <p>Nous contacter</p>
        </div>
    </div>
{% endblock %}